body { 
                margin: 0;
                background: #101010ff; 
                min-height: 100vh;
            }
.hero-section {
  text-align: center;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.hero-section.centered-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-weight: 700;
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

.hero-section p {
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0;
  max-width: 600px;
  margin: 0 auto;
}
